img {
    border: 4px solid rgb(150, 70, 190);
    box-shadow: 0 0 8px 2px rgb(255, 255, 255);
    }
	
	a {
    color:rgb(150, 70, 190); /* Цвет обычной ссылки */ 
    text-decoration: none; /* Убираем подчеркивание у ссылок */
   }
   a:visited {
    color: rgb(255, 255, 255) ; /* Цвет посещённой ссылки */
   } 
   a:hover {
    color: rgb(0, 0, 0); /* Цвет ссылки при наведении на нее курсора мыши */  
    text-decoration: underline; /* Добавляем подчеркивание */
   }

.picture1 {
	position: fixed;
        top: 195px;
        left: 160px;
    } 

.menushka ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }

.menushka li {
    display: inline;
    }
  
.menushka a{font-size:30px;font-family: Bahnschrift Condensed;
    color:rgb(255, 255, 255);
    text-align: center;
    padding: 12px 14px;
    }

h1{
    color:rgb(0, 0, 0);
    text-align: center;
  }
h2{
    background-color: rgba(0, 0, 0, 0.4);
  }

p1{
    background-color: rgba(0, 0, 0, 0.4);
    color:rgb(0, 0, 0);
    font-size:8px;
    text-indent: 25px
  }

.gallery { 
    margin: 10px 40px; 
} 
  
.gallery img { 
    width: 385px; 
    height: 250px; 
    transition: 1s; 
    padding: 5px; 
} 
  
.gallery img:hover { 
    filter: drop-shadow(4px 4px 6px gray); 
    transform: scale(1.1); 
}

li{font-size:24px;
    color:rgb(255, 255, 255);
    text-align: left;
    padding: 14px 16px;
    background-color: rgb(150, 70, 190);
  }
ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
li {
    padding-left: 2em; 
    text-indent: -.6em;
  }
li::before {
    content: "~O.E~";font-family: "Bahnschrift Condensed";
    color: rgb(255, 255, 255);
  }
th{
    font-size:37px;
  }

.video1{
.video1-align-right;
.video1 text-indent:100px;
.video1-margin-remove-adjacent;
}

iframe{
border: 4px solid rgb(150, 70, 190);
box-shadow: 0 0 8px 2px rgba(255, 255, 255);
}


.d1 {
    left: 50;
    top: 0;
    width: 100px;
    height: 100px;
    z-index: 1;
} 
.d2 {
    left: 50;
    top: 1600;
    width: 100px;
    height: 100px
    
    z-index: 2;
} 

.g2 img {
    border: 4px solid rgb(54, 139, 184);
    box-shadow: 0 0 8px 2px rgba(48, 100, 121);
    }

